@import "variables";

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;


    .login {
        display: flex;
        flex-direction: column;
        align-self: center;
        background-color: white;
        border-radius: 10px;
        box-shadow: $color-lightergray 5px 5px;
        width: 75%;
        max-width: 400px;
        align-items: center;

        form {
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
        }
    }
}

@media (max-width: 500px) {
    .login-content {
        width: 50%;

        .login {

            p {
                font-size: 1.0rem;
            }

            .login-button-container {
                margin-top: 0px;
                margin-bottom: 15px;
            }
        }
    }
}