$black: #000;
$white: #fff !default;
$color-darkgray: #3c3b41;
$color-lightgray: #707070;
$color-lightergray: #b2b2b2;
$color-lightlightgray: #ededed;
$color-blue: #1b6ec2;
$color-lightblue: #3caadc;
$color-orange: #ffaf0a;
$color-orange-hover: #ffbc1b;

$body-bg: $color-lightlightgray !default;
